<h1>Todos</h1>

<%= link_to "Create todo", new_todo_path %>

<% @todo.each do |todo| %>
    <h2 class="<%= "completed" if todo.completed? %>">
        <%= todo.title %>
        <% if todo.completed? %>
            <%= button_to "Mark Incomplete", todo_completion_path(todo), method: :delete %>
        <% else %>
            <%= button_to "Mark Complete", todo_completion_path(todo) %>
        <% end %>
    </h2>
<% end %>